.button {
  font-size: 1.6rem;
  font-family: "Work Sans", sans-serif;
  text-align: center;
  text-decoration: none;
  margin: 1rem 0;
  padding: 1.4rem;
  cursor: pointer;
}

.button-small {
  width: 100px;
}

.button-large {
  width: 100%;
}

.button-red,
.button-subscribe {
  color: #fff;
  border: none;
}

.button-red {
  background-color: #f2071b;
}

.button-outline {
  background-color: #fff;
  border: 1px solid #f2071b;
  color: #f2071b;
}

.button-subscribe {
  background-color: #595738;
}

/* button links */
.button-red a,
.button-subscribe a,
.button-red a:link,
.button-subscribe a:link,
.button-red:link,
.button-subscribe:link,
.button-outline a:hover {
  color: #fff;
}

.button-red:hover,
.button-subscribe:hover,
.button-red:visited,
.button-subscribe:visited {
  background-color: #5496bf;
}

.button-outline a,
.button-outline a:link,
.button-outline:link {
  color: #f2071b;
}

.button-outline:hover,
.button-outline:visited {
  background-color: #8a8c56;
  border: 1px solid #595738;
  color: #fff;
}
