/* import css */
@import url("/css/reset.css");
@import url("/css/headers.css");
@import url("/css/headings.css");
@import url("/css/text.css");
@import url("/css/lists.css");
@import url("/css/links.css");
@import url("/css/buttons.css");
@import url("/css/figure.css");
@import url("/css/social-share.css");
@import url("/css/search.css");
@import url("/css/subscribe.css");
@import url("/css/footer.css");

/* import Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@0,300;0,600;1,300&family=Work+Sans&display=swap");

/* Navbar (mobile < 600px) */
/* dropdown button */
.button-nav {
  width: 100%;
  font-size: 2rem;
  font-family: "Work Sans", sans-serif;
  text-align: center;
  text-decoration: none;
  padding: 1.4rem;
  cursor: pointer;
}
/* navbar container*/
.dropdown {
  width: 100%;
  position: relative;
  display: inline-block;
}
/* dropdown content (hidden by default) */
.dropdown-content {
  width: 100%;
  display: none;
  position: absolute;
  font-size: 2rem;
  font-family: "Work Sans", sans-serif;
  background-color: #fff;
  text-align: center;
  z-index: 95;
}
/* links inside the dropdown */
.dropdown-content a {
  color: #1b80bf;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #8a8c56;
  color: #fff;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .button-nav {
  background-color: #595738;
  color: #fff;
}
/* end of navbar*/

/* Mobile first set up (width < 600px) */
/* container (width < 600px)*/
.container {
  /* Set container to display as grid with one column */
  display: grid;
  width: 90%;
  margin: auto;
  grid-template-columns: 100%;
  grid-template-areas:
    "homepage-post"
    "homepage-sidebar"
    "subscribe";
}

.blog-homepage-post {
  grid-area: homepage-post;
}

.blog-homepage-sidebar {
  grid-area: homepage-sidebar;
}

.subscribe-form {
  grid-area: subscribe;
  margin: 5% 0;
}
/* end of container (<600px */

/* avatar*/
.avatar-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.avatar img {
  border-radius: 50%;
  width: 50%;
  margin: 10% 0 5% 25%;
  align-self: center;
}

.avatar-description {
  width: 100%;
  height: auto;
  color: #444;
  text-align: center;
  line-height: 1.2;
  margin: 0% 10%;
}

/* TOP button fixed to bottom of page */
.fixed-bottom {
  position: fixed;
  bottom: 0%;
  right: 1%;
  margin: 2.4rem 0;
  z-index: 98;
}

.fixed-bottom button {
  padding: 1rem;
}

/*-------------------------------------------------------------------------*/
/* Medium screens - 600px and over */
/* Container set as grid for medium screens - two columns, body and sidebar */
@media (min-width: 600px) {
  .container {
    margin: auto;
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 25px;
    justify-content: left;
    grid-template-areas:
      "homepost homeside"
      "subscribe homeside";
  }

  .blog-homepage-post {
    grid-area: homepost;
    margin-right: 5rem;
  }

  .blog-homepage-sidebar {
    grid-area: homeside;
  }

  .subscribe-form {
    grid-area: subscribe;
    margin: 5% 5rem 5% 0;
  }
  /* end container for medium screen */

  /* navbar */
  .button-nav,
  .dropdown {
    max-width: 200px;
  }

  .avatar img {
    border-radius: 50%;
    width: 60%;
    margin: 10% 0 5% 20%;
    align-self: center;
  }

  /*TOP button - hide*/
  #hide-top {
    display: none;
  }
}