.social-sharing-blog {
  display: grid;
  width: 100%;
  padding-bottom: 5%;
  grid-template-columns: 30% 30% 30%;
  column-gap: 5%;
  row-gap: 10%;
  grid-template-areas:
    "insta meetup github"
    "twitter facebook youtube";
}

#instagram {
  grid-area: insta;
  align-self: start;
}

#meetup {
  grid-area: meetup;
  align-self: center;
}

#github {
  grid-area: github;
  align-self: end;
}

#twitter {
  grid-area: twitter;
  align-self: start;
}

#facebook {
  grid-area: facebook;
  align-self: center;
}

#youtube {
  grid-area: youtube;
  align-self: end;
}

.social-icon img {
  width: 60%;
}

/* Medium screens - 600px and over */
@media (min-width: 600px) {
  .social-sharing-blog {
    display: grid;
    width: 100%;
    padding-bottom: 5%;
    grid-template-columns: 45% 45%;
    column-gap: 5%;
    row-gap: 10%;
    justify-items: center;
    align-items: start;
    grid-template-areas:
      "insta meetup"
      "github twitter"
      "facebook youtube";
  }

  #instagram {
    grid-area: insta;
    align-self: start;
  }

  #meetup {
    grid-area: meetup;
    align-self: end;
  }

  #github {
    grid-area: github;
    align-self: start;
  }

  #twitter {
    grid-area: twitter;
    justify-self: end;
  }

  #facebook {
    grid-area: facebook;
    align-self: start;
  }

  #youtube {
    grid-area: youtube;
    align-self: end;
  }

  .social-icon img {
    width: 40%;
  }
}
